{% extends 'home.html'%}
{% block description%}{% endblock%}


{% block slider%}
{% include 'slider.html'%}
{% endblock%}
<!--slider section end -->

<!--about section start-->
{% block homeabout%}
{% include 'homeabout.html'%}
{% endblock%}

{%block homeservice%}
{% include 'homeservices.html'%}
{% endblock%}

{% block homeproject%}
{% include 'homeprojects.html'%}
{% endblock%}

{% block homeclientsays%}
{% include 'homeclientsays.html'%}
{% endblock%}

{% block homenews%}
{% include 'homenews.html'%}
{% endblock%}

{% block sponcers%}
<!--client sponcer start-->
{% include 'homesponers.html'%}
<!--client sponcer end-->
{% endblock%}


{% block container%}
{% endblock%}